.hero__header {
  height: 24px;
  padding: 16px 15px 16px;
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include media-desktop {
    padding-left: 103px;
    padding-right: 103px;
  }
}

.header__phone {
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}
