.hero__section {
  background: linear-gradient(90deg, #003d85, #b80027);
}

.hero__wrapper {
  margin: 0 auto;
  width: 320px;

  @include media-tablet {
    width: 768px;
    min-height: 574px;
    padding-top: 30px;
    padding-bottom: 100px;
  }

  @include media-desktop {
    width: 1440px;
    min-height: 760px;
    padding-bottom: 120px;
  }
}

.hero__content-wrapper {
  padding: 48px 15px 32px;
  display: grid;
  grid-template-areas: "a c"
    "b d"
    "f f";
  grid-template-columns: 113px 156px;
  column-gap: 21px;
  row-gap: 14px;

}

.hero__text {
  grid-area: b;
  text-align: right;
  align-self: flex-end;
}

.hero__title {
  grid-area: c;
  text-align: right;
}

.hero__title-main {
  grid-area: d;
  text-align: right;
}

.hero__btn {
  grid-area: f;
}

.hero__promo {
  display: none;

  @include media-tablet {
    display: block;
  }
}
